[submodule "tensorflow-fcwta"]
	path = tensorflow-fcwta
	url = https://github.com/parkervg/tensorflow-fcwta
[submodule "SentEval"]
	path = SentEval
	url = https://github.com/parkervg/SentEval
[submodule "tf_ConvWTA"]
	path = tf_ConvWTA
	url = https://github.com/parkervg/tf_ConvWTA
